.hub-icon-pos {
    color: $warning;
}

.hub-icon-dash {
    color: $vue-states;
}

.hub-icon-management {
    color: $danger;
}

.hub-icon-inventory {
    color: $info;
}

.hub-icon-manufacturing {
    color: $table-head-color;
}

.hub-icon-purchases {
    color: $orange;
}

.hub-icon-people {
    color: $success;
}

.hub-icon-gallery {
    color: $indigo;
}

.hub-icon-configs {
    color: $medium-gray;
}

