// using mostly on enter view
.page-fade-enter-active, .page-fade-leave-active {
    transition : opacity 0.8s ease;
}

.page-fade-enter-from, .page-fade-leave-to {
    opacity : 0;
}

// uUsing primary in TableActionBarComp Component to show ActionTableButton
.slide-fade-enter-active {
    transition : all .3s ease-out;
}

.slide-fade-leave-active {
    transition : all .5s cubic-bezier(1.0, 0.5, 0.5, 1.0);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform : translateX(20px);
    opacity   : 0;
}

// tweak for sidebar transition
.collapsable {
    height     : 0;
    overflow   : hidden;
    transition : 0.3s;
}

@keyframes rotateDown {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes rotateUp {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.rotate-down {
    animation: rotateDown 300ms ease 0s 1 reverse forwards;
}
.rotate-up {
    animation: rotateUp 300ms ease 0s 1 reverse forwards;
}

// used for making a simple colapsable div
.collapsable-div {
    transform-origin: top;
}
.collapsable-enter-active {
    animation: collapsable reverse 300ms ease;
}
.collapsable-leave-active {
    animation: collapsable 300ms ease;
}
@keyframes collapsable {
    from {
        opacity: 1;
        //transform: scaleY(1);
    }
    to {
        opacity: 0;
        //transform: scaleY(0);
    }
}
