// Using mostly on enter view
.page-fade-enter-active, .page-fade-leave-active {
    transition: opacity 0.8s ease;
}

.page-fade-enter-from, .page-fade-leave-to {
    opacity: 0;
}

// Using primary in TableActionBarComp Component to show ActionTableButton
.slide-fade-enter-active {
    transition: all .3s ease-out;
}

.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.5, 1.0);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

// tweak for sidebar transition
.collapsable {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

// sidebar carets animation alternative
// There is another alternative https://v3.vuejs.org/guide/transitions-state.html#animating-state-with-watchers but  I don't want to install another lib
@keyframes caret-rotate {
    0% { transform: rotate(-180deg); }
    100% { transform: rotate(0deg); }
}

.caret-rotate-enter-active {
    animation: caret-rotate 0.3s;
}

.caret-rotate-leave-active {
    animation: caret-rotate 0.3s reverse;
}

//This is for animate the upper caret when the sub group close
.caret-up-fade-enter-active,
.caret-up-fade-leave-active {
    transition: opacity 0.5s ease;
}

.caret-up-fade-enter-from,
.caret-up-fade-leave-to {
    opacity: 0;
}
